<div id="nome-produto">#nomeproduto#</div>
<div id="descr-produto">#especificacoes#</div>
<div id="avaliacao">
    <span id="ofertas-bt">10+ Ofertas</span>
    <div id="avaliacao-stars">
        <div id="comments">Ver comentários (21)</div>
        <div id="stars-bloco">
            <span class="halfstar"></span>
            <span class="fullstar"></span>
            <span class="fullstar"></span>
            <span class="fullstar"></span>
            <span class="fullstar"></span>
        </div>
    </div>
</div>
<div id="produto-media-precos">
    <div id="bloco-preco">
        <span class="pre-preco">De:</span>
        <span class="preco">R$ #priceMin#</span>
    </div>
    <div id="bloco-preco">
        <span class="pre-preco">Até:</span>
        <span class="preco">R$ #priceMax#</span>
    </div>
</div>
<div id="social">
    <img src="images/teste/socials.png" width="300" />
</div>
<div id="fabricante">
    <span id="label">Produto:</span>
                                    <span id="marca">
                                        <span class="logo">
                                          <!-- <img src="images/teste/sony-logo.png" width="167"/> -->
                                        </span>
                                    </span>
</div>
