<div id="prod-img">
    <img src="#prodimg#" width="180"/>
</div>
<div id="prod-info">
    <div id="nome-produto">#nomeproduto#</div>
<div id="descr-produto">#especificacoes#</div>
<div id="produto-media-precos">
    <div id="bloco-preco">
        <span class="pre-preco">De:</span>
        <span class="preco">R$ #priceMin#</span>
    </div>
    <div id="bloco-preco">
        <span class="pre-preco">Até:</span>
        <span class="preco">R$ #priceMax#</span>
    </div>
</div>
<div id="prodbotoes">
  <!--  <span id="ofertas-bt" class="btspace">10+ Ofertas</span> -->
    <a href="#link#" target="_blank" a><span id="ofertas-bt">Saiba Mais</span></a>
</div>


</div>

