<span id="prodloja-cell">
   <div id="logo-loja" class="blocosloja">
       <img src="#logoloja#" width="100px"/>
   </div>
   <div id="ebit" class="blocosloja">
       <sup class="ljdescr">Ranking e-bit:</sup>
       <span class="#ebit#"></span>
       <span id="ratting_descr">#descrratting#</span>
   </div>
   <div id="preco-forma" class="blocosloja">
       <sup class="ljdescr">Preço:</sup>
       <span id="preco-loja" class="mtop">R$ <b>#price#</b></span>
       <span id="comple-preco-loja">à vista #separcela#</span>
   </div>
   <div id="frete-loja" class="blocosloja">
       <sup class="ljdescr">Frete:</sup>
       <span id="naloja">na loja</span>
   </div>
   <div id="loja-go" class="blocosloja">
       <a href="#link#" target="_blank"><span id="lojabt">Ir para Loja</span></a>
   </div>
</span><!-- end of prodloja-cell -->
